.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 40px;
  background-color: rgb(194, 221, 224);
  .left {
    display: flex;
    align-items: center;
    width: 60%;
    color: rgb(15, 104, 148);
  }
  .nav-item {
    font-size: 1.5vw;
    font-weight: bold;
    margin-right: 4vw;
    text-transform: uppercase;
    cursor: pointer;
  }
  .right {
    background-color: rgb(51, 107, 135);
    color: rgb(194, 221, 224);
    padding: 5px;
    border-radius: 4px;
    .nav-item {
      width: 100%;
      display: flex;
      justify-content: center;
      cursor: pointer;
    }
  }
}
